
    <main>
      <h1>About Easytrips</h1>
      <div class="about">
        <p>
          <i>"EasyTrip"</i> Lorem ipsum dolor sit amet consectetur adipisicing elit.
           Voluptatum, et nam. Ipsa omnis rerum numquam ullam nihil animi? Natus velit ut
            unde optio deserunt aut saepe repellat, minima molestiae itaque.
          Eveniet ratione veniam tenetur voluptates optio perspiciatis enim iure fugiat
           numquam et totam soluta quod voluptatum voluptas, officiis pariatur officia, 
           recusandae molestiae deserunt praesentium? Non omnis molestias voluptate aut 
           possimus?Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos minus 
           assumenda repudiandae. At incidunt, earum veritatis, nihil minus assumenda labore
           quasi nisi ullam delectus fuga reiciendis atque asperiores aspernatur voluptate!
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus dolorem dolores natus sapiente aperiam magni ullam sit fugit tempora, minima eveniet fuga doloribus quo doloremque quisquam suscipit vel perspiciatis eligendi.
           Recusandae explicabo fugit maiores consectetur inventore numquam mollitia eos quaerat. Ipsam, odio provident aliquid aspernatur eligendi cupiditate repellat, dolorem et exercitationem doloremque qui, vel tempora repudiandae voluptate aperiam sint? Suscipit.
           Natus quisquam amet consequuntur eius, incidunt voluptates quas id magnam dolorem architecto accusamus, excepturi voluptas officia molestias. Molestiae recusandae incidunt sit distinctio suscipit illum dolores, iusto nihil vel nam nobis!
           Pariatur amet vel similique sit, dolorem saepe facere consequuntur, ut beatae voluptates a error repellendus, in quos voluptatum nesciunt eaque iste quis laboriosam quas odit! Magni obcaecati libero magnam vero.
           Assumenda error quis quisquam itaque praesentium quibusdam sed ducimus sequi ex consectetur maiores mollitia sint aspernatur aliquam tempora ullam in eos aliquid, ab harum. Autem unde doloremque similique aliquid fugiat.
           Necessitatibus, ipsa iste! Commodi cupiditate minima doloremque, enim quis odio tenetur. Ut perspiciatis ea odio nemo, illo numquam fugiat velit. Hic ipsum perspiciatis ex? At nulla consequuntur recusandae ullam! Blanditiis?
           Quam repellendus aliquid nam odit officia expedita omnis reprehenderit. Officiis delectus corporis deserunt consequatur, sapiente maiores expedita obcaecati praesentium rerum mollitia molestiae assumenda illum rem inventore, placeat aspernatur magni distinctio?
           Vel, asperiores. Architecto quaerat veniam odio temporibus libero, placeat perspiciatis adipisci nam corrupti deleniti, aliquid quibusdam iure. Accusamus, quibusdam quaerat quam quasi asperiores facilis dolorem amet? Asperiores non repudiandae quod?
           Error voluptate temporibus culpa illo! Sunt hic pariatur, quod cupiditate dolorum quis, recusandae id, exercitationem ratione mollitia natus aliquam possimus eligendi. Eaque odio quis debitis molestias cupiditate? Incidunt, blanditiis nostrum?
           Ducimus, quasi vero fuga veritatis exercitationem dolor neque architecto perferendis rem sapiente a deserunt eligendi, commodi voluptatum sint. Aspernatur minima earum fugiat animi dolore ab molestiae architecto obcaecati odio illum.
        </p>
      </div>
