 <h2>Comments</h2>
<div class="comment-form">
    <h3>Add a Comment</h3>
    <form action="/trips/add-comment" method="POST">
        <label for="comment">Comment</label>
        <input type="text" id="comment" name="comment">

        <input type="submit" value="Create">
    </form>
</div>