
<div class="comment-form">
    <h2>Add a Comment</h2>
    <form action="" method="POST">
        <label for="comment">Comment</label>
        <input type="text" id="comment" name="comment">
        <input type="submit" value="Create">
    </form>
</div>