
      <h1>Add Trip</h1>
      <div class="form">
        <form action='/trips/create' method="POST">
          <label for="name">Destination</label>
          <input type="text" id="name" name="name">
          <label for="name">Description</label>
          <textarea id="name" name="description"></textarea>
          <label for="image">ImageUrl</label>
          <input type="text" id="image" name="imageUrl">
          <label for="dateFrom">Date from:</label>
          <input type="text" name="dateFrom">
          <label for="dateTo">Date to:</label>
          <input type="text" name="dateTo">
          <input type="submit" value="Create">
        </form>
      </div>
