<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>EasyTrip</title>
  <link href="/css/site.css" type="text/css" rel="stylesheet">
  <link rel='shortcut icon' type='image/x-icon' href='/images/favicon.png' />
</head>
<body>
  <div class="container">
    <header>
      <ul>
        <li><a href="/">Browse</a></li>
        <li><a href="/trips/create">Add a Trip</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/users/login">Login</a></li>
        <li><a href="/users/register">Register</a></li>
        <li><a href="/users/logout">Logout</a></li>
      </ul>
    </header>
    <main>
      <div id="main">
        {{{body}}}
      </div>
    </main>
  </div>
  <footer>
    <p>@Easytrips 2024</p>
  </footer>
</body>

</html>